<a href="https://colab.research.google.com/github/erickson72/erick-portfolio/blob/main/Geradores_de_Sequ%C3%AAncia_N%C3%BAmericas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(0,30,5))

[0, 5, 10, 15, 20, 25]

In [ ]:
list(range(0, 13,3))

[0, 3, 6, 9, 12]

In [ ]:
list(range(0,-10,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [ ]:
list(range(0))

[]

In [ ]:
list(range(1,0))

[]

In [ ]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for carina in "Amor":
  print(carina)

A
m
o
r

In [ ]:
for i in range(21):
  print(i, end=",")

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,

In [ ]:
Iteração looping usando for

In [ ]:
regioes = ["Norte", "Nordeste", "Sudeste", "Sul", "Centro-Oeste"]
for x in regioes:
  regiao_desejada = "Nordeste"
  print("Inicio das instruções")
  print("  >", x.upper())
  print("  >",x.title())
  print("  >",x.lower())
  print("  >",x*3)
  print("fim das instruções")
  if x == regiao_desejada :
    print(f'Achei o que procurava! A regiao{x}')
    break

Inicio das instruções
  > NORTE
  > Norte
  > norte
  > NorteNorteNorte
fim das instruções
Inicio das instruções
  > NORDESTE
  > Nordeste
  > nordeste
  > NordesteNordesteNordeste
fim das instruções
Achei o que procurava! A regiaoNordeste

In [ ]:
A instrução continue
Com a instrução continue , podemos parar a iteração atual do loop e continuar com a próxima interação:

In [ ]:
regioes = ["Norte", "Nordeste", "Sudeste", "Sul", "Centro-Oeste"]
regiao_desejada = "Sul"
for x in regioes:
  if not x == regiao_desejada :
    print(f'{x} não é o que estou procurando!')
    continue
  print('Inicio das instruções')
  print('  >', x.upper())
  print('  >',x.title())
  print('  >',x.lower())
  print('  >',x*3)
  print('Fim das instruções')
  if x == regiao_desejada :
    print(f'Achei o que procurava! A região {x}')
    break

Norte não é o que estou procurando!
Nordeste não é o que estou procurando!
Sudeste não é o que estou procurando!
Inicio das instruções
  > SUL
  > Sul
  > sul
  > SulSulSul
Fim das instruções
Achei o que procurava! A região Sul

In [ ]:
#imprimir a lista de numeros pares menores ou igual a 20

In [ ]:
for i in range(21):
  if i % 2 == 0:
    print(i, end=',')

0,2,4,6,8,10,12,14,16,18,20,

In [ ]:
## Calcula a média de idades com o for

In [ ]:
idades = [28,29,'Não revelo minha idade',32,33, 'Não sei quando nasci', 27,28,None,23,24,None,25,32,43,None,32,54, 'pergunta para minha mãe',30,None,33]
total = 0
n =  0
for valor in idades:
    if type(valor) != int and type(valor) != float:
      continue

    total += valor
    n += 1

media = total / n
print(f'A média da idade dos alunos é {media:.2f}')

A média da idade dos alunos é 31.53

In [ ]:

#Loops aninhados com o for

Podem ser criados quantos loops aninhados quanto forem necessário, bastando observar a correta identação.

In [ ]:
#Tabuada de Multiplicação com o For
print('_'*72)
print('|{0:^70s}|'.format('Tabuada de Multiplicação com o For'))
print('_'*72)
for x in range(1,11):
  for y in range(1,11):
    if y==10:
      print(f'|{x*y:>6d} |')
    else:
      print(f'|{x*y:>6d}', end='')
  print('_'*72)

________________________________________________________________________
|                  Tabuada de Multiplicação com o For                  |
________________________________________________________________________
|     1|     2|     3|     4|     5|     6|     7|     8|     9|    10 |
________________________________________________________________________
|     2|     4|     6|     8|    10|    12|    14|    16|    18|    20 |
________________________________________________________________________
|     3|     6|     9|    12|    15|    18|    21|    24|    27|    30 |
________________________________________________________________________
|     4|     8|    12|    16|    20|    24|    28|    32|    36|    40 |
________________________________________________________________________
|     5|    10|    15|    20|    25|    30|    35|    40|    45|    50 |
________________________________________________________________________
|     6|    12|    18|    24|    30|    36|    42|    48|    54|    60 |
________________________________________________________________________
|     7|    14|    21|    28|    35|    42|    49|    56|    63|    70 |
________________________________________________________________________
|     8|    16|    24|    32|    40|    48|    56|    64|    72|    80 |
________________________________________________________________________
|     9|    18|    27|    36|    45|    54|    63|    72|    81|    90 |
________________________________________________________________________
|    10|    20|    30|    40|    50|    60|    70|    80|    90|   100 |
________________________________________________________________________

In [ ]:
#Imprimindo o Calendário do Mês
Mes = 'Outubro'
dias_semana = ['domingo', 'segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado']
mes_inicia_dia_semana = 'quinta-feira'
quantidade_dias_do_mes = 31
dia_mes = 0
print('_'*112)
print('|{0:^111s}|'.format(Mes))
print('_'*112)
for dia_semana in dias_semana:
  if dia_semana =='sábado':
    print(f'|{dia_semana:^15s}|')
  else:
    print(f'|{dia_semana:^15s}', end='')

for posicao in range(1,5 * 7 + 1):
  if dia_mes == 0 and dias_semana[posicao-1]!=mes_inicia_dia_semana:
    print(f'|{" ":>15s}', end='')
    continue

  dia_mes += 1
  if posicao % 7 == 0:
    print(f'|{dia_mes:>15d}|' if dia_mes <= quantidade_dias_do_mes else  f'|{" ":>15s}|')
  else:
    print(f'|{dia_mes:>15d}' if dia_mes <= quantidade_dias_do_mes else  f'|{" ":>15s}', end='')
print('_'*112)

________________________________________________________________________________________________________________
|                                                    Outubro                                                    |
________________________________________________________________________________________________________________
|    domingo    | segunda-feira |  terça-feira  | quarta-feira  | quinta-feira  |  sexta-feira  |    sábado     |
|               |               |               |               |              1|              2|              3|
|              4|              5|              6|              7|              8|              9|             10|
|             11|             12|             13|             14|             15|             16|             17|
|             18|             19|             20|             21|             22|             23|             24|
|             25|             26|             27|             28|             29|             30|             31|
________________________________________________________________________________________________________________